# Ambiente Virtual
venv/
.conda/
rag_expert_v2/

# Banco de Dados Vetorial (Não suba os binários, apenas o código)
chroma_db/

# Python caches
__pycache__/
*.pyc

# ZenML local config
.zen/

rag_base/
